.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

.chart-container {
  height: 500px;
  width: 100%;
}
